* {
  font-family: Nunito, sans-serif;
    margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(circle, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.9)), url(../images/live.gif);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  /* transition: .5s; */
  
}

@keyframes breathing-gradient {

  0% {
   opacity: 0;
  }

  100% {
 
    opacity: .7;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 1rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.25rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: .5s;
}

header nav ul li a:hover {
  font-size: 1.3rem;
  text-decoration: underline;

}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

main 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  animation: breathing-gradient 3s ease-in-out forwards;
}

main article p{
  margin: 2rem 0 0 2rem;
}

main img{
  border-radius: .5rem;
}

iframe {
  /* transition: .5s; */
  border-radius: .5rem;
  
  max-width: 99vw;
  animation: pop-out 2s ease-in-out infinite;
}

@keyframes pop-out {

  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {

    transform: translateY(0px);
  }
}